*.framework/** filter=lfs diff=lfs merge=lfs -text
*.dylib filter=lfs diff=lfs merge=lfs -text
*.pak filter=lfs diff=lfs merge=lfs -text
*.dat filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
crashpad_handler filter=lfs diff=lfs merge=lfs -text
lib*.dylib filter=lfs diff=lfs merge=lfs -text
*.node filter=lfs diff=lfs merge=lfs -text
CamStudio[[:space:]]Pro.app/** filter=lfs diff=lfs merge=lfs -text
